* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    color: #ed3a6d;
    text-decoration: none;
}

a:hover {
    color: #f4975a;
}

button {
    cursor: pointer;
    color: white;
    background-color: #ed3a6d;
    border: none;
    border-radius: .3rem;
    transition: all .2s ease-in-out;
}

button:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    background-color: #f4975a;
}

h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
}

p {
    font-size: 1.1rem;
    font-weight: 300;
}

input {
    border-radius: .3rem;
    border: none;
}

/*
NAVBAR
*/
body {
            font-family: 'Josefin Sans', sans-serif;
        }

        .navbar {
            font-size: 18px;
            background-image: linear-gradient(260deg, #f4975a 0%, #ed3a6d 100%);
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
        }

        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }

        .logo {
            display: inline-block;
            font-size: 22px;
            margin-top: 10px;
            margin-left: 20px;
        }

        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
        }

        .active {
            display: block;
        }

        @media screen and (min-width: 768px) {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

            .main-nav li {
                margin: 0;
            }

            .nav-links {
                margin-left: 40px;
            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }

            .logo:hover,
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
            }

/*
HERO
*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("https://source.unsplash.com/collection/783770/1600x900");
    background-position: center;
    background-size: cover;
}

body{
	margin: 0px;
	padding: 0px;
	background: #f1f1f1;
	font-family: arial;
	box-sizing: border-box;
}
.card-container{
	width: 300px;
	height: 430px;
	background: #FFF;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 1px 10px 1px #000;
	overflow: hidden;
	display: inline-block;
}
.upper-container{
	height: 150px;
	background-image: linear-gradient(260deg, #f4975a 0%, #ed3a6d 100%);
}
.image-container{
	background: white;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 0px;
	transform: translate(110px,100px);
}
.image-container img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.lower-container{
	height: 280px;
	background: #FFF;
	padding: 20px;
	padding-top: 40px;
	text-align: center;
}
.lower-container h3, h4{
	box-sizing: border-box;
	line-height: .6;
	font-weight: lighter;
}
.lower-container h4{
	color: #ed3a6d;
	opacity: .6;
	font-weight: bold;
}
.lower-container p{
	font-size: 16px;
	color: gray;
	margin-bottom: 30px;
}
.lower-container .btn{
	padding: 12px 20px;
	background: #ed3a6d;
	border: none;
	color: white;
	border-radius: 30px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
}
.lower-container .btn:hover{
	background: transparent;
	color: #f4975a;
	border: 2px solid #f4975a;
}
